.footer {
  margin: 4rem 2rem 1rem 2rem;
  padding: 2rem;
  /* background-color: #f1f3f5; */
  /* border: 1px solid #edede9; */
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  color: #343a40;
  border-radius: 1rem;
}
.fContent {
  font-size: 1.3rem;
  display: flex;
  gap: 1rem;
  font-weight: 500;
  margin-top: 1rem;
}
.fContent p {
  cursor: pointer;
  width: fit-content;
  /* transition: all 0.3s; */
  /* background-color: #e9ecef; */
  /* color: #f1f3f5; */
  padding: 0.4rem 1.4rem;
  border-radius: 2rem;
}
.fContent p:hover {
  background-color: #343a40;
  color: #f1f3f5;
}
.copyrightContainer {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.2rem;
  justify-self: center;
  font-weight: 500;
}
.button {
  color: #fff;
  background-color: #343a40;
  padding: 0.4rem 1.4rem;
  cursor: pointer;
  border-radius: 2rem;
}
.copyright {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.2rem;
}
.copyright span {
  font-weight: 500;
}

@media (max-width: 470px) {
  .fContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
