.blogContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.blogItem {
  border: 1px solid #edede9;
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 1rem;
  transition: 0.3s;
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 1rem;
}
/* .blogItem:nth-child(odd) {
  background-color: #f4fce358;
}
.blogItem:nth-child(even) {
  background-color: #fff9db3d;
} */
/* .blogItem:hover {
  border: 1px solid #ffe8cc;
} */
.authorInfo {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 0.6rem;
}
.authorName {
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}
.authorImage {
  width: 1.6rem;
  border-radius: 0.2rem;
}
.nameCont {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.autherUsername {
  padding: 0.4rem;
  background-color: #e9ecef;
  border-radius: 0.6rem;
  font-family: "Martian Mono", monospace;
}
.blogHeading {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 0.6rem;
  cursor: pointer;
}
.blogDesc {
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
  line-height: 1.3;
  cursor: pointer;
}
.blogDetail {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.blogCategory {
  font-size: 1.2rem;
  font-weight: 600;
  color: #2f9e44;
}
.blogTags {
  font-size: 1.2rem;
  font-weight: 600;
  color: #495057;
}
.blogDate {
  font-family: "Martian Mono", monospace;
  font-weight: 600;
}
.views {
  font-size: 1.2rem;
  font-weight: 500;
  /* font-family: "Martian Mono", monospace; */
}
.imageContainer {
  display: grid;
  padding-right: 1rem;
}
.blogImage {
  width: 100%;
  justify-self: end;
  align-self: center;
  border-radius: 1rem;
  filter: brightness(160%);
  cursor: pointer;
}
.heading {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-left: 1rem;
  display: flex;
  gap: 0.6rem;
  align-items: center;
}
