.header {
  padding: 1rem 2rem;
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  /* box-shadow: rgba(50, 50, 93, 0.043) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.05) 0px 1px 3px -1px; */
}
.flexCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subHeader {
  display: flex;
  align-items: center;
  gap: 2rem;
}
