.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}
.subHeader {
  display: flex;
  align-items: center;
  gap: 2rem;
}
