.heroContainer {
  background-color: #fcc419;
  padding: 4rem 6rem;
  margin-bottom: 4rem;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  /* border-radius: 1rem; */
  font-family: "Roboto Mono", monospace;
}
.quote {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 4rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.writePaper {
  background: linear-gradient(to right bottom, #e64980, #fa5252);
  border: none;
  outline: none;
  padding: 0.6rem 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: inherit;
  cursor: pointer;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
}
.docs {
  background-color: #343a40 !important;
  border: none;
  outline: none;
  padding: 0.6rem 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: inherit;
  cursor: pointer;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
}
.writePaperAI {
  background: linear-gradient(to right bottom, #cc5de8, #845ef7);
  width: fit-content;
}
.quotePara {
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.langInfo {
  font-size: 1.6rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
button {
  background-color: #343a40 !important;
  border: none;
  outline: none;
  color: #fff !important;
  padding: 1rem 2rem !important;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: inherit;
  cursor: pointer;
  border-radius: 2rem !important;
}
.learnMinder {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.learnMinder span {
  padding: 0.6rem 1.6rem;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: 400;
}
p,
button {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.leaderBoardHeading {
  font-size: 1.6rem;
  font-weight: 400;
}

@media (max-width: 630px) {
  .heroContainer {
    padding: 4rem 4rem;
  }
  .quote {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .learnMinder {
    font-size: 2.2rem;
  }
  .writePaper,
  .docs,
  .writePaperAI {
    font-size: 1.6rem;
  }
  .quotePara {
    font-size: 1.8rem;
  }
}
