.login {
  width: 40rem;
  margin: 0 auto;
}
.form {
  background-color: #51cf66;
  padding: 4rem;
  margin-top: 10rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form div {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.form div label {
  font-size: 1.6rem;
  font-weight: 500;
  color: #00000092;
}
.commonInput {
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 0.8rem;
  font-family: inherit;
}
.form button {
  border-radius: 1rem !important;
  width: fit-content;
  align-self: center;
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  padding: 1rem;
  font-family: inherit;
  border: none;
  background-color: #343a40 !important;
  cursor: pointer;
}
.para {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 2rem;
}
.para span {
  font-weight: 400;
  border-bottom: 2px solid #4263eb;
  color: #4263eb;
  cursor: pointer;
}
.back {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 4rem;
}
.back span {
  font-weight: 400;
  background-color: #343a40;
  color: #fff;
  padding: 0.6rem 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
}
