.memoriesParentContainer {
  margin: 0 2rem 2rem 2rem;
  overflow: hidden;
}
.memoriesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 2rem;
}
.memoryHeading {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.memoryData {
  background-color: rgb(248, 250, 252);
  /* background-color: #fff9db; */
  padding: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
}
.memoryAuthor {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}
.authorPhoto {
  width: 2rem;
  border-radius: 2rem;
}
.seeMore {
  font-size: 1.2rem;
  margin-top: 1rem;
  font-weight: 600;
  color: #2b8a3e;
  cursor: pointer;
  background-color: #f8f9fa;
  border-radius: 2rem;
  padding: 0.4rem 1rem;
  width: fit-content;
}
