.memoriesParentContainer {
  margin: 0 2rem 2rem 2rem;
  overflow: hidden;
}
.memoriesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 2rem;
}
.memoryHeading {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.memoryData {
  border: 1px solid #f1f3f5;
  background-color: rgb(248, 250, 252);
  padding: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1.2rem;
}
.memoryContent {
  font-weight: 500;
}
.memoryAuthorCont {
  display: flex;
  justify-content: space-between;
}
.memoryAuthor {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  align-self: flex-end;
}
.reply {
  font-weight: 500;
  color: #2f9e44;
  background-color: #ebfbee;
  padding: 0.2rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
}
.authorPhoto {
  width: 2rem;
  border-radius: 2rem;
}
.seeMore {
  font-size: 1.2rem;
  margin-top: 1rem;
  font-weight: 600;
  color: #2b8a3e;
  cursor: pointer;
  background-color: #f8f9fa;
  border-radius: 2rem;
  padding: 0.4rem 1rem;
  width: fit-content;
}

@media (max-width: 1300px) {
  .memoriesContainer {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
  }
}
@media (max-width: 550px) {
  .memoriesContainer {
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
  }
}
