.userNav {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
}
.userNav p {
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
.special1 {
  background-color: #343a40;
  color: #fff;
}
.special2 {
  background-color: #66a80f;
  color: #fff;
}
.navlink {
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: #000;
  background-color: #f4fce3;
}
