.userNav {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}
.userNav p {
  font-weight: 400;
  border-radius: 0.8rem;
  cursor: pointer;
  padding: 0.6rem 1rem;
}
.special1 {
  background-color: #343a40;
  color: #fff;
}
.special2 {
  background-color: #37b24d;
  color: #fff;
  border: 1px solid #288238;
}
.navlink {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.navCir {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.photoContainer {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
  text-align: center;
  border: 1px solid #000000;
}
.userPhoto {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.logoutBtn {
  background-color: #fa5252;
  color: #fff;
}
.write {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.7rem 1.2rem !important;
}
