.blogContainer {
  width: 120rem;
  margin: 0 auto;
  margin-bottom: 10rem;
  padding: 0 2rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.author {
  font-size: 1.4rem;
  color: #868e96;
}
.blogInfo {
  display: flex;
  gap: 2rem;
}
.pageInfo {
  color: #868e96;
  font-size: 1.4rem;
  align-items: center;
  margin-bottom: 1rem;
  display: flex;
  gap: 1.4rem;
  margin-bottom: 1rem;
}
.AItext {
  background-color: #343a40;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.commonBlog {
  background-color: #f8f9fa;
  border: 1px solid #e9ecef !important;
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 0.6rem;
  overflow: hidden;
  padding: 1rem;
}
.commonItem {
  background-color: #f8f9fa;
  border: 1px solid #e9ecef !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;
  border-radius: 0.6rem;
  overflow: hidden;
  padding: 1rem;
}
.form label {
  font-size: 1.6rem;
  font-weight: 500;
}
.form select {
  background-color: #f1f3f5;
  border: 1px solid #e9ecef !important;
  padding: 0.6rem;
  font-size: 1.6rem;
  font-family: inherit;
  outline: none;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
}
.form textarea {
  resize: none;
  background-color: #f1f3f5;
  border: 1px solid #e9ecef !important;
  padding: 0.6rem;
  font-size: 1.6rem;
  font-family: inherit;
  outline: none;
  border: none;
  border-radius: 0.6rem;
  width: 100%;
}
.form input {
  background-color: #f1f3f5;
  border: 1px solid #e9ecef !important;
  padding: 0.6rem;
  font-size: 1.6rem;
  font-family: inherit;
  outline: none;
  border: none;
  border-radius: 0.6rem;
}
.form button {
  max-width: fit-content;
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-radius: 1rem !important;
}
.error {
  color: #f03e3e;
  font-size: 1.6rem;
  font-weight: 500;
}
.errorText {
  color: #f03e3e;
  font-size: 1.4rem;
}
.commonItem input[type="file"] {
  display: none;
}
.imageInput {
  background-color: #40c057;
  color: #f8f9fa;
  font-size: 1.4rem;
  border-radius: 0.6rem;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
@media (max-width: 1130px) {
  .blogInfo {
    flex-direction: column;
  }
  .blogContainer {
    width: 100%;
  }
  .pageInfo {
    flex-direction: column;
  }
}
